/*
    UNIDADES DE MEDIDAS

    1) Unidades absolutas
        -px (pixel): corresponde a um ponto de iluminação na tela, ou quando isso não puder ser determinado (no papel por exwmplo), equivale a 1/96 de uma polegada (1 polegada = 2,54 cm). Seu tamanho, portanto, depende da resolução da tela.
        -pt (point): medida usada para o tamanho de fontes. Equivale a 1/72 de uma polegada.
        -cm (centimetro): para impressão.
        -mm (milimetro): para impressão.
        -in (inches, polegadas): para impressão.
    2) Unidades relativas
        -em: usada para fontes. Significa 100% do tamanho da fonte do elemnto pai.
        -rem: usada para fontes. Significa 100% do tamanho da fonte configurado para o elemnto <html> (elemento raiz)
        -%: sempre em relação ao tamanho do pai
        -vw: 1% do viewport (área de vizualização do navegador)
        -vh: 1% da altura do viewport
*/


*{ /*Todos os elementos*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 20px;
}

div{
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

#container{
    background-color: goldenrod;
    font-size: 16pt;
    height: 600px;
    width: 70vw; /* 70% da largura da janela */
}

#box1{
    background-color: cadetblue;
    font-size: 30pt;
    height: 20%
}

#box2{
    background-color: hotpink;
    /*Tamanho fonte do pai: 16pt. 1.5em = 1.5 * 16pt = 24pt*/
    font-size: 1.5em;
    width: 50%; /*Metade da largura do pai*/
    height: 12vh; /*12% da altura da janela*/
}

#box3{
    background-color: mediumpurple;
    font-size: 150%; /* Equivale a 1.5em */
}

#box3-1{
    font-size: 0.5em /*Metade do tamanho da fonte pai*/
}

#box4{
    background-color: aquamarine;
    font-size: 3rem; /* 3 * 20px do tamanho da fonte do elemento raiz = 60px*/
    width: 40vw;
}