@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Definição de variáveis*/
:root{
    --cor-primaria:#550000;
    --cor-secundaria: #FF7F2A;
    --cor-secundaria-clara: #FFAF7B;
    --cor-fundo-clara: #DDDDDD;
    --cor-fundo-escura: #BBBBBB;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escura: #777777;
}

/*CSS reset*/
*{
    padding: 0;
    margin: 0;
    /*Sem serifa*/
    /*font-family: Calibri, Arial, sans;*/

    /*Com serifa*/
    /*font-family: Georgia, 'Times New Roman', serif;*/

    /*Monoespaçada*/
    /*font-family: Consolas, 'Courier News',monospace;*/

    /*Web-Fonts*/
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;
}

html{ /*Tamanho de fonte padrão do documento*/
    font-size: 16px;
}

/*Cor de todos os links do site*/
a{
    color: var(--cor-primaria);
    text-decoration: none;
}

a:hover{
    color: var(--cor-secundaria);
    text-decoration: underline;
}

header{
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}

nav{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

#content{
    background-color: var(--cor-fundo-clara);
    padding: 20px;
    /*Esse elemento e seus filhos usarão o flex box*/
    display: flex;
    /*Os filhos ficarão em linha*/
    flex-direction: row;
}

section{
    background-color: var(--cor-texto-claro);
    padding: 24px;
    margin-bottom: 20px;
    /*bordas arredondadas*/
    border-radius: 10px;
    /*Sombra (drop-down shadow)*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
    flex-grow: 1;
}

#principal{
    width: 75%;
}

#secundario{
    margin-left: 20px;
    background-color: var(--cor-fundo-escura);
    width: 25%;
}

section article{ /*artigos que estão dentro de uma section*/
    margin: 24px 0px;
}

section > h1{ /*Apenas os h1 que são filhos diretos de section*/
    text-transform: uppercase; /*Deita o texto em maiúsculas*/
    color: var(--cor-secundaria);
}

article > h1{  /*Apenas os h1 que são filhos diretos de article*/
    margin-bottom: 6px;
}

article > h1 > a{  /*Apenas os h1 que são filhos diretos de article*/
    font-size: 1.5rem; /*1.5x o tamanho da fonte do elemento raiz (html)*/
}

article > p{
    color: var(--cor-texto-escura);
}

article > h2{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.destaque{
    background-color: var(--cor-secundaria-clara);
    padding: 24px;
    border-radius: 4px;
}

.destaque p{
    color: #000;
    font-size: 1.5rem;
}

.destaque > h1 > a{
    font-size: 2.5rem;
}

.destaque > h2 {
    font-size: 1rem;
}

.destaque img{
    width: 450px;
    margin-right: 24px;
    border-radius: 4px;
}

.foto-texto{
    display: flex;
    flex-direction: row;
}

#secundario > aside > img{
    display: block;
    margin: 0 auto; /*margin auto a esquerda e a direita centraliza o elemento quando este é display: block */
}

#secundario > aside > h1 > a{
    font-size: 1rem;
    color: #000;
}